.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    font-size: 3rem;
    border-radius: 20px;
    color: white;
    text-align: start;
    vertical-align: top;
   background-size: cover;
   background-repeat: no-repeat;
   transition: .35s ;
   z-index: 0;
}
.text-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    font-size: 3rem;
    border-radius: 20px;
    color: white;
    text-align: start;
    vertical-align: top;
   
   background-size:cover;
   background-repeat: no-repeat;
   transition: .35s ;
   z-index: 0;
}
.ImagesContainer{
    display: grid;
    gap:.5rem;
    position: relative;
    top: 20vh;
  
   width: 80vw;
   
    left: 10vw;
grid-template-columns: repeat(12,1fr);
grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
grid-auto-rows: 220px;
margin-bottom: 200px;
}

.gallery-text{
    padding: 1rem;
    font-family: monospace;
    font-size: clamp(14px,4vw,35px);
    color: rgb(180, 180, 180);
}




@media screen and (min-width:600px){
    .card:hover{
        transform: scale(1.125);
        z-index: 1;
        }
.card-tall {
    grid-row: span 2/auto;
}
.card-wide{
    grid-column: span 2/ auto;
}
}
@media screen and (max-width:600px){
    .ImagesContainer{
        grid-auto-rows: 125vw;
    }
   
}
@media screen and (max-width:920px){
   
    .ImagesContainer{
        grid-template-rows:auto;
        top: 10vh;
       }
}
