

.WebsiteStuff{
    padding-bottom: 10px;
    margin: 0;
    margin-right: 4vw;
    margin-left: 4vw;
    margin-bottom: 2.5vh;
    padding-top: 1vw;
    
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
   position: relative;
    width: 90vw;
    top: 70px;
    bottom: 80px;
grid-template-columns: repeat(auto-fit, minmax(325px,1fr));
grid-auto-rows: clamp(100px,35vh,500px);

grid-template-rows: repeat(auto-fit, minmax(220px,45vh));
place-self: center;

}

.Wall{
    padding: 1rem;
    padding-top: 1.5rem;
    
    
    border-radius: 10px;
    color: white;
    
    justify-content: center;
     font-family:Helvetica;
    font-size: 1.25em;
    transition: .5s;
    z-index: 0;
    
}

.PortraitContainer{
    border: none;
    position: relative;
    object-fit: scale-down;
    text-align: center;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    
}
.LookingIMG{
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.Deep-Quote{

    color: rgba(255,255,255,0.1);
    font-size:clamp(30px,8vw,60px);
    font-family: monospace;
    font-weight: bolder;
    margin: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
 
    bottom: 50%;
    cursor: pointer;
    transition: 0.5s;
}
span.MemeTXT{
    color: rgba(255, 255, 255, 0.9);
}
.Deep-Quote:hover{
    color: rgb(236, 216, 127);
}
.Deep-Quote:hover span.MemeTXT{
    color: rgb(144, 200, 221);
}
.textButton{
    text-decoration: none;
    color: rgba(212,212,212,0.25);
}
.textButton:hover{
   color: white;
}
@media screen and (max-width:699px) {

    .PortraitContainer{
        position: relative;
        object-fit: scale-down;
        text-align: center;
        padding: 0;
        grid-row: span 2 / auto;
    }
    .WebsiteStuff{
    grid-template-rows: auto;
    }
}

@media screen and (min-width:700px) {
   
    .WebsiteStuff{
        grid-template-columns: repeat(auto-fit, minmax(5vw,1fr));
    }
    .BigWall{
        grid-column: span 3 / auto;
        grid-row: span 2 / auto;
    }
    .WideWall{
        grid-column: span 6 / auto;
    }
}
